<option value="">
  <% if @labels.size >1 %>
    ----
  <% else%>
  no labels
  <% end %>
</option>

<% for label in @labels %>

	<option value="<%= label %>">
    <%= label %>
  </option>

<% end %>


