<%= form_for @mapping, :url => { :controller => :mappings, :action => :update, :id => @mapping } do |f|%>
  <%= render :partial => 'config' %>
  <p>
    <%= f.submit 'Update' %>
    <%= link_to 'Cancel', :action => :index %>
  </p>
<% end %>

